@model Shipyards.UI.Areas.Fleet.Models.Ship

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Ship</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Class.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Class.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LaunchDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LaunchDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RegistryNumber }) |
    @Html.ActionLink("Back to List", "Index")
</p>
