@model IEnumerable<Shipyards.UI.Areas.Fleet.Models.Ship>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Class.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LaunchDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Class.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LaunchDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RegistryNumber }) |
            @Html.ActionLink("Details", "Details", new { id=item.RegistryNumber }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RegistryNumber })
        </td>
    </tr>
}

</table>
