@using FluentBootstrap
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    @using (var navbar = Html.Bootstrap().Navbar().SetInverse().AddStyle("border-radius", "0").Begin())
    {
        // Note: border-radius above is to override the media query that gave it a radius (for some reason)

        // Make a NavBarHeader
        using (var navbarHeader = navbar.NavbarHeader().Begin())
        {
            // Add a "brand" with an icon
            @navbarHeader.Brand("Clean Design").SetIcon(Icon.Education).SetHref(Url.Action("Index"))
            @navbarHeader.NavbarToggle()
        }
        using (var navbarCollapse = navbar.NavbarCollapse().Begin())
        {
            var contact = "Contact Us";
            var isHome = Url.Action().Equals(Url.Action("Index"));
            var isAbout = Url.Action().Equals(Url.Action("About"));
            var isContact = Url.Action().Equals(Url.Action("Contact"));
            @navbar.NavbarLink(" Home", "Index").AddContent(Html.Bootstrap().Icon(Icon.Home)).SetActive(isHome)
            @navbar.NavbarLink(" Who We Are", "About", "Home").AddContent(Html.Bootstrap().Icon(Icon.Globe)).SetActive(isAbout)
            @navbar.NavbarLink(contact).SetHref(Url.Action("Contact")).SetActive(isContact)
        }
    }
    @using (var container = Html.Bootstrap().Container().SetFluid().Begin())
    {
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    }

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>